In [134]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv('dados\consumption_total_renewable_electricity.csv', skiprows=4)
a = df[['2019']]
a  =a.dropna()
mediana = np.median(a['2019'])
display(mediana)
df.set_index('Country Name', inplace=True)

18.51

In [139]:
#dados_de_2019

paises_do_mercosul = ['Brazil', 'Argentina', 'Uruguay', 'Paraguay']
paises_do_usmca = ['United States', 'Mexico', 'Canada']


energias_mercosul = []
for pais in paises_do_mercosul:
    energia = df.loc[pais, '2019']
    energias_mercosul.append(energia)

d = {'País': paises_do_mercosul, "Energia": energias_mercosul}
df_mercosul = pd.DataFrame(data = d)
display(df_mercosul)


energias_usmca = []
for pais in paises_do_usmca:
    energia = df.loc[pais, '2019']
    energias_usmca.append(energia)

e = {'País': paises_do_usmca, 'Energia': energias_usmca}
df_usmca = pd.DataFrame(data = e)
display(df_usmca)


frames = [df_mercosul,df_usmca]
df_juntos = pd.concat(frames)
df_juntos

        País  Energia
0     Brazil    47.57
1  Argentina    10.74
2    Uruguay    60.76
3   Paraguay    60.09

            País  Energia
0  United States    10.42
1         Mexico    10.34
2         Canada    22.11

            País  Energia
0         Brazil    47.57
1      Argentina    10.74
2        Uruguay    60.76
3       Paraguay    60.09
0  United States    10.42
1         Mexico    10.34
2         Canada    22.11